@wp-red: #d54e21;
@wp-red-background: #fcf3ef;
@wp-light-red-background: #fefaf7;
@red-highlight: #dd714d; // Not a WP colour

@wp-blue: #0074a2;
@wp-blue-highlight: #2ea2cc;
@wp-light-blue-background: #f7fcfe;

@green: #6cbb3c;  // 'Green Snake'
@green-background: lighten(#CAE8A2, 15%);
@green-highlight: darken(@green, 20%);

@amber: #DB9702;
@amber-background: #f8efe2;
@amber-highlight: lighten(@amber, 5%);;

@grey: #808080;
@grey-background: #F0F0F0;
@grey-highlight: darken(@grey, 20%);


// Generic mixins - TODO can we get at these more easily?
.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}
.rotation(@deg:5deg){
  .transform(rotate(@deg));
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(@deg), M12=sin(@deg), M21=sin(@deg), M22=cos(@deg))";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(@deg), M12=sin(@deg), M21=sin(@deg), M22=cos(@deg));
}

.transition(@target: all, @duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

.opacity(@opacity) {
  opacity: @opacity;
  @opacity-ie: (@opacity * 100);
  filter: alpha(opacity=@opacity-ie); //IE8
}

// End Generic mixins

.dialog-link, .review-error {
  display: block;
  h3 {
    margin-top: 0;
  }
  .more-info {
    margin-bottom: 0;
  }
}

.colour_box(@color, @background-color, @highlight-color) {
  background-color: @background-color;

  h2 a, &.dialog-link *, &.review-error *, [class^="icon-"], [class*=" icon-"] {
    color: @color;
    text-decoration: none;
  }
  h2 a:hover, &.dialog-link:hover *, &.review-error:hover * {
    color: @highlight-color;
  }
}

.red_colour_box { .colour_box(@wp-red, @wp-red-background, @red-highlight); }
.amber_colour_box { .colour_box(@amber, @amber-background, @amber-highlight); }
.green_colour_box { .colour_box(@green, @green-background, @green-highlight); }
.grey_colour_box { .colour_box(@grey, @grey-background, @grey-highlight); }

.review-message {
  padding: 12px;
  min-width: 200px;

  a { text-decoration: none; }

  .use-with-caution, &.use-with-caution {
    .amber_colour_box;
  }
  .potentially-unsafe, &.potentially-unsafe {
    .red_colour_box;
  }
  .no-issues-found, &.no-issues-found {
    .green_colour_box;
  }
  &.no-info, &.review-error {
    .grey_colour_box;
  }
  &.other-versions-reviewed {
    background-color: @grey-background;

    &.dialog-link * {
      color: @grey;
      text-decoration: none;
    }
    &.dialog-link:hover * {
      color: @grey-highlight;
    }

    &.dialog {
      .intro {
        font-size: 14px;
      }
      .other-review {
        padding: 0 20px;
        margin-bottom: 20px;
        border: 1px solid @grey;
      }
    }
  }

  // TODO - this isn't the best implementation, but it works. The problem is that if there's one review, we want to display the whole dialog as a colour box,
  //   but if there are several reviews (of different versions) then we need to display a different colour in each case
  h2.use-with-caution a{
    color: @amber;
  }
  h2.potentially-unsafe a{
    color: @wp-red;
  }
  h2.no-issues-found a{
    color: @green;
  }
  ul {
    list-style: disc inside none;
    padding-left: 20px;
  }

  &.dialog h3 {
    margin-bottom: 0; // The default styling spaces the text above and below equally - doesn't look good.
  }


  // TODO: cribbed from OCS - can this be cleaned up further?
  .corner_triangle(@colour) {
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 28px solid transparent;
      border-right: 29px solid transparent;
      border-bottom: 29px solid @colour;
      display: inline-block;
      position: absolute;
      bottom: -4px;
      right: -18px;
      opacity: 1;
      filter: alpha(opacity=100);
      .rotation(135deg);
      .transition(border-color 0.3s ease-in-out);

      // TODO: I think using this requires using modernizr to add the .lt-1e9 class. Is there any other way we can do this?
      // .lt-ie9 & {
      //   display: none;
      //   visibility: hidden;
      // }
    }
  }

  &.dialog-link {
    &.other-use-with-caution {
      .corner_triangle(@amber);
    }
    &.other-potentially-unsafe {
      .corner_triangle(@wp-red);
    }
    &.other-no-issues-found {
      .corner_triangle(@green);
    }
  }
}

.dialog.review-message {

  #dxw-sec-link {
    float: right;
    margin-top: 15px;
    padding: 5px 20px
  }

  .inner {
    padding: 5px 20px;
    margin-right: 101px;

    a.read-more {
      margin-bottom: 15px;
      display: inline-block;
      &.button-primary {
        color: #fff;
      }
    }
  }

  // The grey isn't super-obvious it's a link when inside the dialog, so let's make it blue
  &.no-info {
    a.read-more {
      color: @wp-blue;
      &:hover {
        color: @wp-blue-highlight;
      }
    }
  }
}


// Dashboard widget styles
#dashboard_dxw_security {
  .review_counts {
    .plugin_review_count_box {
      padding: 10px;
      margin:5px;
      height: 165px; // TODO - is there a better way to achieve consistent heights?
      .count {
        display: block;
        font-size: 40px;
        margin: 10px 0;
        line-height: 1;
        text-align: center;
        font-weight:bold;
      }
      [class^="icon-"], [class*=" icon-"] {
        display: block;
        font-size: 30px;
        padding: 10px;
      }
    }

    // a bit hacky - should probably use another class on the li's
    li.use-with-caution, li.potentially-unsafe, li.no-issues-found {
      width:33.33%;
      width: calc(100%/3);
      float: left;
      text-align: center;
    }
    li.no-info {
      clear: left;
      padding: 10px;
      margin: 0 5px 10px; // to match the padding of the review count boxes
      .count {
        margin-left: 5px;
        display: inline-block;
        width: 15px;
        text-align: right;
      }
    }
  }

  .use-with-caution {
    .plugin_review_count_box {
      .amber_colour_box;
    }
  }
  .potentially-unsafe {
    .plugin_review_count_box {
      .red_colour_box;
    }
  }
  .no-issues-found {
    .plugin_review_count_box {
      .green_colour_box;
    }
  }
  .none { // Grey it out if the count is 0
    .plugin_review_count_box {
      .grey_colour_box;
    }
  }
  .no-info {
    .grey_colour_box;
  }

}


// This is to deal with shrinking the box to tiny sizes. It's a bit hacky and will affect any other dialogs on the page.
body.plugins-php .ui-dialog {
  overflow: hidden;
}

// icon fonts from icomoon
@font-face {
  font-family: 'dxw-security';
  src:url('fonts/dxw-security.eot?-ogm5cz');
  src:url('fonts/dxw-security.eot?#iefix-ogm5cz') format('embedded-opentype'),
    url('fonts/dxw-security.woff?-ogm5cz') format('woff'),
    url('fonts/dxw-security.ttf?-ogm5cz') format('truetype'),
    url('fonts/dxw-security.svg?-ogm5cz#dxw-security') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'dxw-security';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-no-issues-found {
  &:before { content: "\e601"; }
}
.icon-use-with-caution {
  &:before { content: "\e600"; }
}
.icon-potentially-unsafe {
  &:before { content: "\e602"; }
}
.icon-no-info {
  &:before  { content: "\e604"; }
}