@wp-red: #d54e21;
@wp-red-background: #fcf3ef;
@wp-light-red-background: #fefaf7;
@red-highlight: #dd714d; // Not a WP colour

@wp-blue: #0074a2;
@wp-blue-highlight: #2ea2cc;
@wp-light-blue-background: #f7fcfe;

@green: #6cbb3c;  // 'Green Snake'
@green-background: lighten(#CAE8A2, 15%);
@green-highlight: darken(@green, 20%);

@amber: #DB9702;
@amber-background: #f8efe2;
@amber-highlight: lighten(@amber, 5%);;

@grey: #808080;
@grey-background: #F0F0F0;
@grey-highlight: darken(@grey, 20%);


.dialog-link {
  display: block;
  h3 {
    margin-top: 0;
  }
  .more-info {
    margin-bottom: 0;
  }
}

.review-message {
  padding: 12px;
  min-width: 200px;

  a { text-decoration: none; }

  .colour_box(@color, @background-color, @highlight-color) {
    background-color: @background-color;

    h2 a, h3, .more-info, &.dialog-link {
      color: @color;
      text-decoration: none;

      &:hover, &:hover * {
        color: @highlight-color;
      }
    }
  }

  &.use-with-caution {
    .colour_box(@amber, @amber-background, @amber-highlight);
  }
  &.potentially-unsafe {
    .colour_box(@wp-red, @wp-red-background, @red-highlight);
  }
  &.no-issues-found {
    .colour_box(@green, @green-background, @green-highlight);
  }
  &.no-info, &.review-error {
    .colour_box(@grey, @grey-background, @grey-highlight);
  }

  .review-status-description {
    font-style: italic;
    color: gray;
  }
  ul {
    list-style: disc inside none;
    padding-left: 20px;
  }

}

.dialog.review-message {

  #dxw-sec-link {
    float: right;
    margin-top: 15px;
    padding: 5px 20px
  }

  .inner {
    padding: 5px 20px;
    margin-right: 101px;

    a.read-more {
      margin-bottom: 15px;
      display: inline-block;
      &.button-primary {
        color: #fff;
      }
    }
  }

  // The grey isn't super-obvious it's a link when inside the dialog, so let's make it blue
  &.no-info {
    a.read-more {
      color: @wp-blue;
      &:hover {
        color: @wp-blue-highlight;
      }
    }
  }
}

// This is to deal with shrinking the box to tiny sizes. It's a bit hacky and will affect any other dialogs on the page.
body.plugins-php .ui-dialog {
  overflow: hidden;
}

// icon fonts from icomoon
@font-face {
  font-family: 'dxw-security';
  src:url('fonts/dxw-security.eot?-ogm5cz');
  src:url('fonts/dxw-security.eot?#iefix-ogm5cz') format('embedded-opentype'),
    url('fonts/dxw-security.woff?-ogm5cz') format('woff'),
    url('fonts/dxw-security.ttf?-ogm5cz') format('truetype'),
    url('fonts/dxw-security.svg?-ogm5cz#dxw-security') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'dxw-security';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-no-issues-found {
  &:before { content: "\e601"; }
}
.icon-use-with-caution {
  &:before { content: "\e600"; }
}
.icon-potentially-unsafe {
  &:before { content: "\e602"; }
}
.icon-no-info {
  &:before  { content: "\e604"; }
}