.column-Security a { display: block; width: 0; height: 0; padding: 0 0 15px 15px; overflow: hidden; }
.column-Security .potentially_unsafe { background-color: #FF4000; } /*orangered*/
.column-Security .use_with_caution { background-color: #FFD800; } /*gold*/
.column-Security .no_issues_found { background-color: #208820; } /*forestgreen*/
.column-Security .no_info { background-color: #D3D3D3; } /*lightgray*/